name: Build and Publish

on:
  release:
    types: [published]

jobs:
  check:
    name: Check the code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, beta]
    steps:
      - name: Install the appropriate Rust toolchain
        run: |
          rustup toolchain install ${{ matrix.rust }}
          rustup default ${{ matrix.rust }}
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Run rustfmt
        run: |
          rustup component add rustfmt
          cargo fmt -- --check
      - name: Run clippy
        run: |
          rustup component add clippy
          cargo clippy --all-features
      - name: Run cargo test
        run: |
          cargo test --all-features --no-fail-fast

  publish:
    name: Publish crate
    needs: [check]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Attempt to publish crate
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1
        with:
          command: publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
